* text=auto eol=lf

*.lua   text eol=lf
*.toc   text eol=lf
*.xml   text eol=lf
*.md    text eol=lf
*.yml   text eol=lf
*.ps1   text eol=crlf

*.zip   binary
*.blp   binary
*.tga   binary
*.ogg   binary
